<div class="drying_presets" data-bind="visible: loginState.hasPermissionKo(access.permissions.FILES_LIST)">
    <div class="scroll-wrapper" data-bind="foreach: presetsFiles">
        <div class="entry">
            <div class="title clickable"
                data-bind="
                click: function() { if ($root.enableSelect($data)) { $root.filesView.loadFile($data, false); } else { return; } },
                style: { 'font-weight': ($root.selectedFileId() === $root._fileId($data)) ? 'bold' : 'normal' },
                text: $data.display">
            </div>
            <div class="btn-group action-buttons pull-right">
                <a class="btn btn-mini"
                    data-bind="
                    visible: $root.loginState.hasPermissionKo($root.access.permissions.FILES_DOWNLOAD),
                    attr: {href: $root.filesView.downloadLink($data)},
                    css: {disabled: !$root.filesView.downloadLink($data)}"
                    title="{{ _('Download')|edq }}"
                    aria-label="{{ _('Download')|edq }}"><i class="fas fa-download"></i></a>
                <div class="btn btn-mini"
                    data-bind="
                    visible: $root.loginState.hasPermissionKo($root.access.permissions.FILES_SELECT),
                    click: function() { if ($root.enableSelect($data)) { $root.filesView.loadFile($data, false); } else { return; } },
                    css: {disabled: !$root.enableSelect($data)}"
                    title="{{ _('Load')|edq }}"
                    aria-label="{{ _('Load')|edq }}"
                    role="link"><i class="fas fa-folder-open"></i></div>
                <div class="btn btn-mini"
                    data-bind="
                    visible: $root.loginState.hasPermissionKo($root.access.permissions.PRINT),
                    click: function() { if ($root.filesView.enableSelectAndPrint()) { $root.filesView.loadFile($data, true); } else { return; } },
                    css: {disabled: !$root.filesView.enableSelectAndPrint()}"
                    title="{{ _('Load and Start Drying')|edq }}"
                    aria-label="{{ _('Load and Start Drying')|edq }}"
                    role="link"><i class="fas fa-print"></i></div>
            </div>
        </div>
    </div>
</div>
